<mat-drawer-container class="drawer">
  <mat-drawer mode="side" [(opened)]="data.sidenavOpen">
    <app-person-list
      [persons]="data.persons | async"></app-person-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-person-form
      [person]="data.person | async"></app-person-form>
  </mat-drawer-content>
</mat-drawer-container>
