<h1 mat-dialog-title>Send office:</h1>

<div mat-dialog-content>
  <p>Choose which format to send:</p>
  
  <mat-radio-group aria-label="Select an email option"
                   class="email-choose-group"
                   [(ngModel)]="officeType">
    <mat-radio-button value="txt">Plain text format</mat-radio-button>
    <mat-radio-button value="pdf">PDF file</mat-radio-button>
  </mat-radio-group>
  
  <p>Choose where to send the office:</p>
  
  <mat-radio-group aria-label="Select an email option"
                   class="email-choose-group"
                   [(ngModel)]="option">
    <mat-radio-button value="1">To person's email address:</mat-radio-button>
    <mat-radio-button value="2">To the following email address:</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appareance="outline">
    <mat-label>Enter email: </mat-label>
    <input type="text" matInput
           [(ngModel)]="data.email"
           [disabled]="checkOption()">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button
          color="primary"
          (click)="onSubmit()"
          cdkFocusInitial>Send</button>
</div>

