<h1 mat-dialog-title>Confirmation:</h1>

<div class="mat-dialog-content">
  <p>{{ data.message }}</p>
</div>

<div class="mat-dialog-actions" align="end">
  <button mat-button (click)="confirmation(false)" cdkFocusInitial>No</button>
  <button mat-button (click)="confirmation(true)">Yes</button>
</div>
