<div class="person-form-container" *ngIf="person; else noPerson">
  <div class="export-container">
    <!-- Form title: -->
    <h1 *ngIf="data.isNewPerson; else updatePersonTitle">
      New Person:
    </h1>
    <ng-template #updatePersonTitle>
      <h1>Person #{{ person.id }}: '{{ person.name }}':</h1>
    </ng-template>
    <!-- TODO: Add buttons functionality. -->
    <button mat-icon-button
            matTooltip="Send person to email"
            matTooltipPosition="above"
            (click)="sendOfficeToEmail()">
      <mat-icon color="warm">email</mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="Export as plain text"
            matTooltipPosition="above"
            (click)="sendOffice( false, 'txt' )">
      <mat-icon color="warm">description</mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="Export as PDF"
            matTooltipPosition="above"
            (click)="sendOffice( false, 'pdf' )">
      <mat-icon color="warm">picture_as_pdf</mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="Remove this person"
            matTooltipPosition="above"
            *ngIf="!data.isNewPerson"
            (click)="onDeletePerson()">
      <mat-icon color="warm">remove_circle</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  
  <!-- Person form: -->
  <!-- TODO: Add form functionality to the inputs. -->
  <form class="form-container" #personForm="ngForm" (ngSubmit)="onSubmit()">
    <h1>Personal information:</h1>
    <div class="name-form">
      <!-- Name -->
      <mat-form-field appearance="outline" class="principal">
        <mat-label>Name:</mat-label>
        <input type="text" matInput required
               [(ngModel)]="person.name" name="name">
      </mat-form-field>
      <!-- Last name -->
      <mat-form-field appearance="outline" class="secondary">
        <mat-label>Last name:</mat-label>
        <input type="text" matInput required
               [(ngModel)]="person.last_name" name="last_name">
      </mat-form-field>
      <!-- Last's mother name -->
      <mat-form-field appearance="outline" class="secondary">
        <mat-label>Last's mother name:</mat-label>
        <input type="text" matInput required
               [(ngModel)]="person.last_mother_name" name="last_mother_name">
      </mat-form-field>
      <!-- Birthday input: -->
      <mat-form-field appearance="outline" class="secondary">
        <mat-label>Birthday:</mat-label>
        <input type="text" matInput requried
               appDateValidator="^\d{4}\/\d{2}\/\d{2}$"
               [(ngModel)]="person.birthday" name="birthday">
      </mat-form-field>
    </div> <!-- end of div.name-form -->
    <h1>Job's information:</h1>
    <div class="generic-form">
      <!-- Job's occupation -->
      <mat-form-field appearance="outline">
        <mat-label>Job's ocuppation:</mat-label>
        <input type="text" matInput required
               [(ngModel)]="person.job" name="job">
      </mat-form-field>
      <!-- Company -->
      <mat-form-field appearance="outline">
        <mat-label>Company:</mat-label>
        <input type="text" matInput required
               [(ngModel)]="person.company" name="company">
      </mat-form-field>
    </div> <!-- end of div.generic-form -->
    <h1>Location information:</h1>
    <div class="generic-form">
      <!-- Street input: -->
      <mat-form-field appearance="outline">
        <mat-label>Street:</mat-label>
        <input type="text" matInput required
               [(ngModel)]="person.street" name="street">
      </mat-form-field>
      <!-- Exterior number input: -->
      <mat-form-field appearance="outline">
        <mat-label>Exterior number:</mat-label>
        <input type="number" matInput required
               [(ngModel)]="person.exterior_number" name="exterior_number">
      </mat-form-field>
      <!-- Interior number input: -->
      <mat-form-field appearance="outline">
        <mat-label>Interior number:</mat-label>
        <input type="number" matInput required
               [(ngModel)]="person.interior_number" name="interior_number">
      </mat-form-field>
    </div> <!-- end of div.generic-form -->
    <div class="generic-form">
      <!-- Colony input: -->
      <mat-form-field appearance="outline">
        <mat-label>Colony:</mat-label>
        <input type="text" matInput required
               [(ngModel)]="person.colony" name="colony">
      </mat-form-field>
      <!-- Municipality input: -->
      <mat-form-field appearance="outline">
        <mat-label>Municipality:</mat-label>
        <input type="text" matInput required
               [(ngModel)]="person.municipality" name="municipality">
      </mat-form-field>
      <!-- State input: -->
      <mat-form-field appearance="outline">
        <mat-label>State:</mat-label>
        <input type="text" matInput required
               [(ngModel)]="person.state" name="state">
      </mat-form-field>
      <!-- Postal code input: -->
      <mat-form-field appearance="outline">
        <mat-label>Postal code:</mat-label>
        <input type="number" matInput required
               [(ngModel)]="person.postal_code" name="postal_code">
      </mat-form-field>
    </div> <!-- end of div.generic-form -->
    <h1>Contact information:</h1>
    <div class="generic-form">
      <!-- E-mail input: -->
      <mat-form-field appearance="outline">
        <mat-label>E-mail:</mat-label>
        <input type="email" matInput required
               [(ngModel)]="person.email_address" name="email_address">
      </mat-form-field>
      <!-- Phone number input: -->
      <mat-form-field appearance="outline">
        <mat-label>Phone number:</mat-label>
        <input type="number" matInput required
               [(ngModel)]="person.phone_number" name="phone_number">
      </mat-form-field>
    </div> <!-- end of div.generic-form -->
    <div class="generic-form">
      <button type="submit" mat-raised-button
              color="primary" class="submit"
              [disabled]="!personForm.form.valid">
        <span *ngIf="data.isNewPerson; else updatePersonSubmit">
          Create new person
        </span>
        <ng-template #updatePersonSubmit>
          <span>Update person information</span>
        </ng-template>
      </button>
    </div>
  </form>
</div>

<ng-template #noPerson>
  <p class="no-person-message">
    Select a person to the sidenav to edit it's information, or
    click the 'new person' button to add a new person.
  </p>
</ng-template>
