@import "~@angular/material/theming";

%horizontal-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  
  > .mat-form-field { margin: 0 8px; }
}

.person-form-container {
  
  > .export-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 8px;

    > h1 {
      flex-grow: 1;
      margin: 0;
    }
  }

  > .form-container {
    margin: 24px 0;

    > h1 { margin: 0 8px 8px 8px; }
    
    > .name-form {
      @extend %horizontal-flex;

      > .principal { flex-grow: 2; }
      > .secondary { flex-grow: 1; }
    }

    > .generic-form {
      @extend %horizontal-flex;

      > .mat-form-field { flex-grow: 1; }
      > .submit {
        flex-grow: 1;
        margin: 0 8px;
      }
    }
  }
}

.no-person-message {
  margin: 128px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
  color: mat-color($mat-grey, 500);
}
