<app-toolbar></app-toolbar>

<div class="container">
  <!-- Main content -->
  <mat-card class="main-content">
    <mat-card-title>
      <button mat-icon-button
              (click)="data.toggleSidenav()">
        <mat-icon>{{ sidenavButton() }}</mat-icon>
      </button>
      <h1>Persons:</h1>
      <!-- TODO: Add 'new_person' button functionality -->
      <button mat-raised-button color="primary"
              (click)="data.newPerson()">New Person</button>
    </mat-card-title>
    <mat-divider></mat-divider>
    <div class="separator"></div>
    <mat-card-content>
      <app-person-drawer></app-person-drawer>
    </mat-card-content>
  </mat-card>
</div>
