.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 24px 5%;
  
  > .mat-card {
    margin: 16px 0;
    padding-bottom: 0;

    > .separator { margin: 18px 0; }
  }

  > .batch-content {
    padding: 16px 8px 0 8px;

    > .mat-card-title { margin: 8px 0 16px 8px; }
    > .mat-card-content { margin-top: 32px; }
  }

  > .main-content {
    > .mat-card-title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      margin-bottom: 16px;

      > h1 {
        margin-bottom: 4px;
        flex-grow: 1;
        font-weight: 500;
      }
    }
  }
}
