<h1 mat-dialog-title>{{ data.title }}</h1>

<div class="mat-dialog-content">
  <p>{{ data.message }}</p>
</div>

<div class="mat-dialog-actions" align="end">
  <button mat-button mat-dialog-close>Yes</button>
</div>

