<mat-list role="list"
          class="person-list-conatiner"
          *ngIf="isPersonsNotEmpty()">

  <!-- Clear current person -->
  <mat-list-item role="listitem">
    <button mat-button color="accent"
            (click)="clearPerson()"
            [disabled]="!hasPerson()">Clear current person</button>
  </mat-list-item>
  
  <mat-list-item
    role="listitem"
    *ngFor="let person of persons">
    <button mat-button
            color="secondary"
            (click)="selectPerson( person.id )">{{ person.name }}</button>
  </mat-list-item>

  <!-- Reload the list retrieving from the server -->
  <mat-list-item role="listitem">
    <button mat-button color="accent"
            (click)="reloadPersons()">Reload list</button>
  </mat-list-item>
</mat-list>
